
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="mb-0 h4 font-weight-bolder">Dashboard</h3>
<div class="card border border-primary w-25 p-5">
    <h5>Total User</h5>
    <div class="d-flex gap-2"><i class="fa-regular fa-circle-user text-primary fs-4"></i> <p>@ViewBag.count</p></div>

</div>